@font-face {
  font-family: "MyFont";
  src: url(https://fonts.googleapis.com/css2?family=Noto+Sans+Hanunoo&display=swap);
  font-weight: 400;
}
@font-face {
  font-family: "MyFont";
  src: url(https://fonts.googleapis.com/css2?family=Noto+Sans+Hanunoo&display=swap);
  font-weight: 300;
}

.noto-sans-hanunoo-regular {
  font-family: "Noto Sans Hanunoo", MyFont;
  font-weight: 400;
  font-style: normal;
}
